# Fill in the required values and save this file as .env

# general config
DB_PROVIDER=azure  # local|azure
PGDATA_DIR=<path to postgres data> # e.g. /var/lib/postgresql/data/pgdata
POSTGRES_VERSION=16

# database connection
DB_USER=<login>
DB_PASSWORD=<password>
DB_NAME=<name for postgresql db> # e.g. "postgres"
DB_PORT=5435
DB_SCHEMA=<sql schema> # e.g. "public"

# terraform config
AZURE_SUBSCRIPTION_ID=<your Azure subscription ID>
AZURE_RESOURCE_GROUP_NAME=<name for resource group>
AZURE_LOCATION=<location> # e.g. "France Central"
VM_NAME=<vm_name>
HOST_ADMIN=<username>  # admin user for VM
SSH_KEY_PATH=<rsa public key>  # key for ssh connection to VM
SUBNET_CIDR = "10.50.1.0/24"  # network config for VM
VNET_CIDR = "10.50.0.0/16"  # network config for VM
ALLOWED_IP=<your ip here>  # IP allowed to connect to VM
