# Fill in the required values and save this file as .env
DB_USER=<login>
DB_PASSWORD=<password>
POSTRES_SERVER_NAME=<name for your postgres server>
DB_HOST=<name for your postgres server>.postgres.database.azure.com
DB_NAME=<name for postgresql db> # e.g. "postgres"
DB_PORT=5432

# terraform
AZURE_SUBSCRIPTION_ID=<your Azure subscription ID>
AZURE_RESOURCE_GROUP_NAME=<name for resource group>
AZURE_LOCATION=<location> # e.g. "France Central"
